.board-list{
    display: flex;
    gap: 20px;
    border: 2px solid red;
    padding: 30px;
    
   
}

.board-card{
    display: flex;
  justify-content: space-between;
 
  padding: 10px;
  border-radius: 30px;
 
}

.board-card-divs{

 display: flex;
 flex-direction: column;
 gap: 10px;
}