.board-list{
    display: flex;
    gap: 20px;
    border: 2px solid red;
    padding: 30px;
    
   
}

.board-card{
    display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 10px;
  border-radius: 30px;
 
}

.board-card-divs{
 border: 1px solid chartreuse;
 display: flex;
 flex-direction: column;
 gap: 10px;
}