.tabela {
    width: 100%;
    height: 100%;
   // text-align: center;
    padding: 30px;

}

.icone-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 30px;
    background-color: #26bfe257;
    border-radius: 10px;
   


    color: #26C0E2;
    font-weight: 800;
    font-size: 12px;


}

.td-icone {
    display: flex;
    justify-content: center;
}

.td-img {
    display: flex;
    gap: 10px;
   // align-items: center;

}

.tabela th {
    border-bottom: 1px solid;


}