* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #FAFAFB;*/
  background-color: gray;

  font-family: "Nunito", sans-serif;
}
.content-main {
  display: flex;
  gap: 30px;
  padding: 30px;
}
